<html data-th-replace="~{layout::layout(title=~{::title}, main=~{::main})}">

    <title> Liste_Enchères</title>

<main>
    <h1>Liste des enchères</h1>
    <div class="filtres">
        <form action="/submit" method="POST">
        <input type="text" name="keyword" placeholder="Le nom de l'article contient" th:value="${keyword}">

            <label>
                <input type="checkbox" name="category" value="Toutes" th:checked="${category == null || category == 'Toutes'}">Toutes
            </label>
            <label>
                <input type="checkbox" name="category" value="Informatique" th:checked="${category == 'Informatique'}">Informatique
            </label>
            <label>
                <input type="checkbox" name="category" value="Ameublement" th:checked="${category == 'Ameublement'}">Ameublement
            </label>
            <label>
                <input type="checkbox" name="category" value="Vêtement" th:checked="${category == 'Vêtement'}">Vêtement
            </label>
            <label>
                <input type="checkbox" name="category" value="Sport&Loisirs" th:checked="${category == 'Sport&Loisirs'}">Sport & Loisirs
            </label>

            <input type="submit" value="Rechercher">
        </form>

    </div>

    <!--            tentative de creation des article avec chaque parametres-->

    <div class="listeArticles">
        <div th:each="article : ${articles}" class="article-item">
            <img th:src="@{${article.imageUrl}}" th:alt="${article.title}">
            <h2 th:text="${article.title}"></h2>
            <p>Prix : <span th:text="${article.price}"></span> points</p>
            <p>Fin de l'enchère : <span th:text="${article.endDate}"></span></p>
            <p>Vendeur : <span th:text="${article.seller}"></span></p>
        </div>
    </div>

</main>

</html>


