<html data-th-replace="~{layout::layout(title=~{::title}, main=~{::main})}">

<title>Détail de l'Enchère</title>

<main>
    <h1>Détail de la vente</h1>

    <p><strong>Nom de l'article :</strong> <span th:text="${article.nomArticle}"></span></p>
    <p><strong>Description :</strong> <span th:text="${article.description}"></span></p>
<!--    <p><strong>Catégorie :</strong> <span th:text="${article.get}"></span></p>-->
    <p><strong>Meilleure offre :</strong>
<!--        <span th:text="${article.prixVente} + ' pts par ' + ${article.utilisateur.nom}"></span>-->
    </p>
    <p><strong>Mise à prix :</strong> <span th:text="${article.prix_initial} + ' points'"></span></p>
    <p><strong>Fin de l'enchère :</strong> <span th:text="${article.dateFinEncheres}"></span></p>
<!--    <p><strong>Retrait :</strong> <span th:text="${article.utilisateur.adresse}"></span></p>-->
<!--    <p><strong>Vendeur :</strong> <span th:text="${article.utilisateur.nom}"></span></p>-->
</main>

</html>
