<html data-th-replace="~{layout::layout(title=~{::title}, main=~{::main})}">

<title>Détail de l'Enchère</title>

<main class="product-detail-container">
    <h1>Détail de la vente</h1>

    <!-- Section Image -->
    <div class="product-image">
        <!-- Espace réservé pour l'image si elle n'est pas disponible -->
        <div class="image-placeholder">
            <span>Aucune image disponible</span>
        </div>
    </div>

    <!-- Informations sur l'article -->
    <div class="product-info">
        <p><strong>Nom de l'article :</strong> <span th:text="${article.nomArticle}"></span></p>
        <p><strong>Description :</strong> <span th:text="${article.description}"></span></p>
        <p><strong>Meilleure offre :</strong></p>
        <p><strong>Mise à prix :</strong> <span th:text="${article.prix_initial} + ' points'"></span></p>
        <p><strong>Fin de l'enchère :</strong> <span th:text="${article.dateFinEncheres}"></span></p>
    </div>
</main>

</html>
