<html data-th-replace="~{layout::layout(title=~{::title}, main=~{::main})}">


    <title> Liste_Enchères</title>



<main>
    <div class="container">
        <h1>ENI-Enchères</h1>
        <div class="main-content">
            <img th:src="${imageUrl}" alt="Image de l'article" width="200" height="200">
            <h2 th:text="${utilisateur.pseudo}+'a remporté l'enchère'"></h2>
            <p><strong th:text="${article.nom}"></strong></p>
            <p><strong>Description:</strong> <span th:text="${article.description}"></span></p>
            <p><strong>Meilleure offre:</strong> <span th:text="${article.meilleureOffre}+'par'+${utilisateur.meilleureOffre}"></span></p>

            <p><strong>Mise à prix:</strong> <span th:text="${article.miseAPrix}"></span></p>
            <p><strong>Fin de l'enchère:</strong> <span th:text="${article.dateFin}"></span></p>
            <p><strong>Retrait:</strong> <span th:text="${article.adresseRetrait}"></span></p>
            <p><strong>Vendeur:</strong> <span th:text="${article.vendeur}"></span></p>
            <button>Retrait effectué</button>
        </div>
    </div>
</main>

</html>