<html xmlns:th="http://www.thymeleaf.org" lang="fr" data-th-fragment="layout(title,main)">
<head>
    <meta charset="UTF-8">
    <title data-th-replace="${title}"></title>
    <link rel="stylesheet" data-th-href="@{/css/style.css}">
</head>

<body>
<header>
    <div class="entete-gauche">
        <a data-th-href="view-encheres">
            <div><img th:src="@{/images/logo_ENI.png}" alt="image redirection accueil"></div>
        </a>
        <ul>
            <li>
                <button onclick="window.location.reload();">Rafraichir la page</button>
            </li>
            <li>
                <button onclick="history.back();">Retour</button>
            </li>
            <li>
                <button onclick="window.location='/view-encheres'">Accueil</button>
            </li>
        </ul>
    </div>
    <div class="entete-connexion">
        <ul>
            <li>

            </li>
            <li>
                <a data-th-href="@{/inscription}"> Inscription </a>
            </li>

            <li>
                <a data-th-href="@{/accueil-encheres}">Enchères</a>
            </li>
            <li>
                <a data-th-href="@{/nouvelle-vente}">Vendre un article</a>
            </li>
            <li>
                <a data-th-href="@{/profil}">Mon profil</a>
            </li>

<!--            comparer a anonymousUser marche mieux que is authenticated-->
            <li th:if="${#authentication != null && #authentication.name != 'anonymousUser'}">
                <form th:action="@{/logout}" method="POST">
                    <button type="submit">Déconnexion</button>
                </form>
            </li>

            <li th:if="${#authentication == null || #authentication.name == 'anonymousUser'}">
                <a data-th-href="@{/login}"> Connexion </a>
            </li>
        </ul>
    </div>
    <div th:if="${#authentication != null && #authentication.name != 'anonymousUser'}">
        <p>L'utilisateur est connecté : <span th:text="${#authentication.name}"></span></p>
    </div>
    <div th:if="${#authentication == null || #authentication.name == 'anonymousUser'}">
        <p>L'utilisateur n'est pas connecté</p>
    </div>


</header>

<main data-th-replace="${main}"></main>

</body>
</html>