<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" data-th-fragment="layout(title,main)">>
<head>
    <meta charset="UTF-8">
    <title data-th-replace="${title}"></title>
</head>

<body>
<header>
    <div class="entete-gauche">
        <a data-th-href="accueil-encheres">
            <div><img th:src="@{/images/logo_ENI.png}" alt="image redirection accueil"></div>
        </a>
        <ul>
        <li>
            <button onclick="window.location.reload();">Rafraichir la page</button>
        </li>
        <li>
            <button onclick="history.back();">Retour</button>
        </li>
            <li>
                <button onclick="window.location='/view-encheres'">Accueil</button>
            </li>
        </ul>
    </div>
    <div class="entete-connexion">
        <ul>
            <li>
                <a data-th-href="@{/login}" > Connexion </a>
            </li>
            <li>
                <a data-th-href="@{/inscription}" > Inscription </a>
            </li>

        <li>
            <a data-th-href="@{/accueil-encheres}" >Enchères</a>
        </li>
        <li>
            <a data-th-href="@{/nouvelle-vente}" >Vendre un article</a>
        </li>
        <li>
            <a data-th-href="@{/profil}" >Mon profil</a>
        </li>
        <li>
            <button>Déconnexion</button>
        </li>
        </ul>
    </div>
</header>

<main data-th-replace="${main}"> </main>

</body>
</html>