<html xmlns:th="http://www.thymeleaf.org" lang="fr" data-th-fragment="layout(title,main)">
<head>
    <meta charset="UTF-8">
    <title data-th-replace="${title}"></title>
    <link rel="stylesheet" data-th-href="@{/css/style.css}">
</head>

<body>
<header>
    <div class="entete-gauche">
        <a data-th-href="view-encheres">
            <div><img th:src="@{/images/logo_ENI.png}" alt="image redirection accueil"></div>
        </a>
        <ul>
            <li>
                <button onclick="window.location.reload();">Rafraichir la page</button>
            </li>
            <li>
                <button onclick="history.back();">Retour</button>
            </li>
        </ul>
    </div>
    <div class="entete-connexion">
        <ul>

            <li>
                <a data-th-href="@{/}">Enchères</a>
            </li>
            <li>
                <a data-th-href="@{/nouvelle-vente}"  th:if="${#authentication != null && #authentication.name != 'anonymousUser'}">Vendre un article</a>
            </li>
            <!--            comparer a anonymousUser marche mieux que is authenticated-->
            <div th:if="${#authentication != null && #authentication.name != 'anonymousUser'}">
                <li>
                    <a data-th-href="@{/profil}">Mon profil</a>
                </li>
                <li>
                    <form th:action="@{/logout}" method="POST">
                        <button type="submit">Déconnexion</button>
                    </form>
                </li>
            </div>

            <div th:if="${#authentication == null || #authentication.name == 'anonymousUser'}">
                <li><a data-th-href="@{/login}"> Connexion </a>
                </li>
                <li>
                    <a data-th-href="@{/inscription}"> Inscription </a>
                </li>
            </div>
        </ul>
    </div>
    <div method="GET" th:action="@{/profil}"  th:if="${#authentication != null && #authentication.name != 'anonymousUser'}">
        <p>Bienvenue : <span th:text="${#authentication.name}"></span></p>
<!--        <p>Crédit restant : <span th:text="${utilisateur.credit} + ' points'"  ></span></p>-->
    </div>
    <div th:if="${#authentication == null || #authentication.name == 'anonymousUser'}">
        <p>Vous n'êtes pas connecté</p>
    </div>
</header>

<main data-th-replace="${main}"></main>
<footer>
    <p>Propriété d'Ethan,Audrey,Alexandre et Jonathan.Tous droits réservés, sauf si vous êtes un ninja du clavier. Dans ce cas, bonne chance !</p>
</footer>
</body>

</html>