<html data-th-replace="~{layout::layout(title=~{::title}, main=~{::main})}">

    <title>Page de connexion</title>

<main>
    <h1>Connectez-vous</h1>
    <div class="inscription-container">
    <form th:action="@{/login}" method="post">

        <ul class="flex-outer">
            <li>
                <label for="inputUsername">Pseudo</label>
                <input class="inscription-input" id="inputUsername" type="text" name="pseudo" />
            </li>
            <li>
                <label for="inputPwd">Votre mot de passe</label>
                <input class="inscription-input" id="inputPwd" type="password" name="mot_de_passe" />
            </li>
            <li>
                <button type="submit">Se connecter</button>
            </li>
        </ul>
    </form>
    </div>
</main>

</html>