<html data-th-replace="~{layout::layout(title=~{::title}, main=~{::main})}">

    <title>Page de connexion</title>

<main>
    <form th:action="@{/login}" method="post">
        <h1>Connectez-vous</h1>
        <ul class="flex-outer">
            <li>
                <label for="inputUsername"> Votre pseudo </label>
                <input id="inputUsername" type="text" name="pseudo" />
            </li>
            <li>
                <label for="inputPwd">Votre mot de passe</label>
                <input id="inputPwd" type="password" name="mot_de_passe" />
            </li>
            <li>
                <button type="submit">Se connecter</button>
            </li>
        </ul>
    </form>

</main>

</html>