<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
</head>

<body>
<header>
  <a data-th-href="accueil-encheres.htlm"><img th:src="@{/images/logo_ENI.png}" alt="Photo de Profil" alt="image redirection accueil">Accueil</a>
</header>
  <main>
    <body>
    <h1>Modifier le Profil</h1>
        <form action="/update-profile" method="post">
          <label>Pseudo:</label>
          <input type="text" name="pseudo" th:value="${utilisateur.pseudo}" readonly/><br/>

          <label>Nom:</label>
          <input type="text" name="nom" th:value="${utilisateur.nom}" required/><br/>

          <label>Prénom:</label>
          <input type="text" name="prenom" th:value="${utilisateur.prenom}" required/><br/>

          <label>Email:</label>
          <input type="email" name="email" th:value="${utilisateur.email}" required/><br/>

          <label>Téléphone:</label>
          <input type="text" name="telephone" th:value="${utilisateur.telephone}" required/><br/>

          <label>Rue:</label>
          <input type="text" name="rue" th:value="${utilisateur.rue}" required/><br/>

          <label>Code Postal:</label>
          <input type="text" name="codePostal" th:value="${utilisateur.codePostal}" required/><br/>

          <label>Ville:</label>
          <input type="text" name="ville" th:value="${utilisateur.ville}" required/><br/>

          <label>Mot de passe:</label>
          <input type="password" name="password" required/><br/>

          <label>Confirmer le mot de passe:</label>
          <input type="password" name="confirmPassword" required/><br/>

          <label>Crédits restants:</label>
          <input type="number" name="credits" th:value="${utilisateur.credits}" readonly/><br/>

          <button type="submit">Enregistrer</button>
        </form>
    </body>
  </main>
</body>