<html data-th-replace="~{layout::layout(title=~{::title}, main=~{::main})}">

<title> Profil </title>

<main>
    <h1>Profil de l'utilisateur</h1>
    <p><strong>Pseudo:</strong> <span data-th-text="${utilisateur.pseudo}"></span></p>
    <p><strong>Nom:</strong> <span data-th-text="${utilisateur.nom}"></span></p>
    <p><strong>Prénom:</strong> <span data-th-text="${utilisateur.prenom}"></span></p>
    <p><strong>Email:</strong> <span data-th-text="${utilisateur.email}"></span></p>
    <p><strong>Téléphone:</strong> <span data-th-text="${utilisateur.telephone}"></span></p>
    <p><strong>Rue:</strong> <span data-th-text="${utilisateur.rue}"></span></p>
    <p><strong>Code Postal:</strong> <span data-th-text="${utilisateur.codePostal}"></span></p>
    <p><strong>Ville:</strong> <span data-th-text="${utilisateur.ville}"></span></p>

    <form>
         <button type="submit"> <a data-th-href="@{/modifier-profil}"> Modifier </a> </button>
    </form>

    <form th:action="@{/profil}" method="post">
        <button type="submit">  Supprimer le compte </button>
    </form>


</main>


</html>