<!DOCTYPE html>
<html data-th-replace="~{layout::layout(title=~{::title}, main=~{::main})}">
<head>
    <title>Liste des Enchères</title>
    <link rel="stylesheet" data-th-href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="entete-gauche">
        <img src="logo.png" alt="Logo">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</header>
<main>
    <h1>Liste des Enchères</h1>
    <div class="container">


        <form method="get" action="/articles">
            <div class="filters">
                <input class="search-input" type="text" name="keyword" placeholder="Le nom de l'article contient"
                       th:value="${keyword}">

                <select id="category" name="category">
                    <option th:each="c : ${categories}" th:value="${c.noCategorie}" th:text="${c.libelle}"></option>
                </select>

                <div class="fieldset" th:if="${#authentication != null && #authentication.name != 'anonymousUser'}">
                    <fieldset>
                        <legend>Achats</legend>
                        <input type="checkbox" name="filter" value="encheres_ouvertes"
                               th:checked="${filter == 'encheres_ouvertes'}"> enchères ouvertes<br>
                        <input type="checkbox" name="filter" value="mes_encheres_en_cours"
                               th:checked="${filter == 'mes_encheres_en_cours'}"> mes enchères en cours<br>
                        <input type="checkbox" name="filter" value="mes_encheres_remportees"
                               th:checked="${filter == 'mes_encheres_remportees'}"> mes enchères remportées<br>
                    </fieldset>
                    <fieldset>
                        <legend>Mes ventes</legend>
                        <input type="checkbox" name="filter" value="mes_ventes_en_cours"
                               th:checked="${filter == 'mes_ventes_en_cours'}"> mes ventes en cours<br>
                        <input type="checkbox" name="filter" value="ventes_non_debutees"
                               th:checked="${filter == 'ventes_non_debutees'}"> ventes non débutées<br>
                        <input type="checkbox" name="filter" value="ventes_terminees"
                               th:checked="${filter == 'ventes_terminees'}"> ventes terminées<br>
                    </fieldset>
                </div>
                <div class="modifier-profil">
                    <input type="submit" value="Rechercher" class="search-button">
                </div>
            </div>
        </form>
    </div>

    <!-- Création de la grille des produits -->
    <div class="product-grid">
        <div th:each="c : ${articles}">
            <div class="product-card">
                <div class="product-image">
                    <!-- Image de l'article (à ajouter plus tard) -->
                    <span><a th:href="@{/detail(id=${c.noArticle})}">Aucune image</a></span>
                </div>
                <div class="product-name" data-th-text="${c.nomArticle}"></div>
                <div class="product-name">Vendu par : <span data-th-text="${c.getUtilisateur().pseudo}"></span></div>

                <div class="product-actions">
                    <a th:href="@{/detail(id=${c.noArticle})}">Détail</a>

                    <a th:href="@{/modifier(id=${c.noArticle})}"  th:if="${c.getUtilisateur().pseudo==#authentication.name}">Modifier</a>
                    <form method="post" th:action="@{/supprimer}" style="display:inline;" th:if="${c.getUtilisateur().pseudo==#authentication.name}">
                        <input type="hidden" name="id" th:value="${c.noArticle}">
                        <button type="submit" class="link-button">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
